/* Navbar */
.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
  background-image: url(../img/jumbotron.png);
  height: 500px;
  text-align: center;
  
}

.jumbotron .display-4 {
  color: white;
  margin-top: 130px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  margin-bottom: 25px;
}

/* Info Panel */
.info-panel {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -100px;
  background-color: white;
  padding: 20px;
} 

.info-panel img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-left: 20px;
}

.info-panel h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
  color: #1E2E69;
}

.info-panel p {
  font-size: 14px;
  color: #acacac;
  font-weight: 200;
}

/* Working Space */
.workingspace {
  margin-top: 120px;
  text-align: center;
}

.workingspace h3{
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 50px;
}

.workingspace p {
  font-size: 18px;
  color: #acacac;
  font-weight: 200;
  margin: 30px 0;
}

/* Testimonial */
.testimonial {
  margin-top: 90px;
}

.testimonial h5{
  text-align: center;
  font-weight: 200;
  font-style: italic;
  font-size: 24px;
}

.testimonial figure img {
  width: 60px;
  height: 60px;
  margin: 20px 10px 10px;
  opacity: 0.5;
}

.testimonial figure img.utama {
  width: 90px;
  height: 90px;
  opacity: 1;
  margin-top: 5px;
}

.testimonial figure p {
  font-size: 12px;
  color: #acacac;
  margin-top: -5px;
}

.testimonial figure {
  text-align: center; 
}

.testimonial figure h5 {
  font-size: 16px;
  font-weight: bold;
  color: #1c2c5d;
  font-style: normal;
}

/* Utility */
.tombol {
  text-transform: uppercase;  
  border-radius: 30px;
}

/* Footer */
.footer p {
  color: #acacac;
  font-size: 18px;
  margin-top: 100px;
}

/* Desktop Version */
@media (min-width: 992px) { 
  .navbar-brand, .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #0b63dc;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron .display-4 {
    color: white;
    margin-top: 130px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 62px;
    margin-bottom: 25px;
  }

  .jumbotron {
    height: 560px;
  }

  .workingspace {
    text-align: left;
  }

  .testimonial h5 {
    font-size: 32px;
  }

}